<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hola!</h1>
    <div class="card text-center">
  <div class="card-header">
    Calcular Impactos Ambientales de un COV en la Atmosfera
  </div>
  
  <div class="container">
            

        </div>
        <div class="container">
            <table class="table">
                <thead class="table-dark">
                    <tr>
                        
                        <th scope="col">Nombre</th>
                        <th scope="col">Potencial POCP</th>
                        <th scope="col">Acción</th>
                        
                    </tr>
                </thead>
                <tbody th:each="pocp:${potencialesPocp}">
                	<tr>
                	
                        <th th:text="${pocp.compuesto.nombre}"></th>
                        <td th:text="${pocp.potencialPocp}"></td>
                       <td>
                       <a th:href="@{/pocp/modificarpocp/__${pocp.id}__}" class="btn btn-primary">Modificar</a>
                       <a th:href="@{/pocp/eliminar/__${pocp.id}__}" class="btn btn-primary">Eliminar</a>
                       </td>
                    </tr>
               
                </tbody>
            </table>
        </div>
         <div class="card-body">
    
    
    <a th:href="@{/}" class="btn btn-primary">Volver</a>
  </div>
  
  
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>