<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
  </head>
  <body>
    <h1>Hola! Registre aqui el COV a trabajar</h1>
    
    
    <form th:action="@{/tiempo/registro}" method="POST" enctype="multipart/form-data">
                
                <!--private Double constanteOh 
                private Double constanteCl;
	private Double constanteO3;
	private Double constanteNo3;
	
	private Double tiempoOh;
	private Double tiempoCl;
	private Double tiempoO3;
	private Double tiempoNo3;
	
	
	@OneToOne
	private Compuesto compuesto; -->
                <div class="mb-3">
                    <label class="form-label">Constante kOH</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" name="constanteOh" th:value="${constanteOh}">
                    
                </div>
                <div class="mb-3">
                    <label class="form-label">Constante kCl</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="constanteCl" th:value="${constanteCl}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Constante kO3</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="constanteO3" th:value="${constanteO3}">
                </div>
                <div class="mb-3">
                    <label class="form-label">Constante kNO3</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="constanteNo3" th:value="${constanteNo3}">
                </div>
               
                <div class="form-group my-3">
                	<select name="idCompuesto">
                		<option>Seleccionar Compuesto</option>
                		
                		<option th:each="compuesto: ${compuestos}"
                				th:value="${compuesto.id}"
                				th:text="${compuesto.nombre}" />
                		
                	</select>
                
                </div>
                <button type="submit" class="btn btn-primary">Calcular Tiempo de residencia</button>
            </form>
            
            
            <div th:if="${exito}!=null" class="card text-white bg-success mb-3">
                <div class="card-body">
                    <h5 class="card-title">Exito</h5>
                    <p class="card-text" th:text="${exito}"></p>
                </div>
            </div>
            <div th:if="${error}!=null" class="card text-white bg-danger mb-3">
                <div class="card-body">
                    <h5 class="card-title">Error</h5>
                    <p class="card-text" th:text="${error}"></p>
                </div>
            </div>
    
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
  </body>
</html>